@import url('../fonts/Poppins/Poppins-Regular.ttf');
@import "/node_modules/@fortawesome/fontawesome-free/css/all.min.css";

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
}
.sidebar__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #054721;
    height: 100vh;
    width: 280px;
    align-items: center; /* Center the whole content, excluding the buttons */
}

.sidebar__container ul {
    width: 100%; /* Full width for the list to align buttons */
    padding: 20px ; /* Remove padding for better alignment */
}

.sidebar__container ul li {
    width: 100%; /* Ensure each list item spans the sidebar width */
}

.sidebar__container ul li a {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align content to the left within each button */
    text-decoration: none;
    color: white;
    background-color: #054721;
    padding: 15px 20px; /* Add left padding for spacing */
    margin: 5px 0;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%; /* Full width for each button */
}

.sidebar__container ul li a i {
    margin-right: 10px; /* Space between icon and text */
    font-size: 18px;
}

.sidebar__container ul li a:hover {
    background-color: #046a31;
}

.sidebar__container img {
    height: 50px;
    width: 50px;
    margin-top: 20px;
}

.sidebar__container h2 {
    text-align: center;
    color: white;
}

.logout__btn {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 8px; 
    cursor: pointer;
    padding: 10px 20px;
}

.logout__btn:hover {
    color: #2d6235;
    transition: color 0.3s ease;
}
