body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header {
    background-color: #054721; /* Matching your sidebar color */
    color: #FEAE00;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}